{% extends "master.html.twig" %}

{% block title %}SEND COMMENT{% endblock %}

{% block content %}
            
<h1>SEND A COMMENT OR IDEA</h1>

{% if errorList %}
    <ul id="error">
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form id="comment" method="post">
    FIRST NAME: <br> <input type="text" name="fName" value="{{v.fName}}"><br>
    LAST NAME: <br> <input type="text" name="lName" value="{{v.lName}}"><br>
    EMAIL: <br> <input type="text" name="email" value="{{v.email}}"><br>
    COMMENT: <br> <input type="text" name="comment" value="{{v.comment}}"><br>
    <input type="submit" value="Send Comment">
</form>

{% endblock %}
    