{% extends "master.html.twig" %}



{% block content %}
    {% if sessionUser %}
        <a href="/sell">Sell</a>
{% if myItemsForSale %}
    
       <div id="listing">
        <ul>
        {% for ci in myItemsForSale %}
                <li><img height=100 src="{{ ci.image}}"></li>
                <li id="itemrow{{ci.ID}}"></li>
                <li>{{ci.pName}}</li>
                <li>{{ci.pPrice}}</li>
                <li>{{ci.pLocation}}</li>
                <li>{{ci.description}}</li>
            </ul>
            {% endfor %}
        </div>
    
    {% else %}
        <p>YOU DONT HAVE ANYTHING FOR SALE</p>   
{% endif %}
    {% else %}
        <p>Please login to access My Account</p>
        <a href="/login">Login</a>
    {% endif %}


{% endblock %}{# empty Twig template #}
