{% extends "master.html.twig" %}



{% block content %}
    {% if sessionUser %}
       
{% if myItemsForSale %}
    {% for ci in myItemsForSale %}
        <table id="mylisting">
            <tr>
                
        
                <!--<li id="itemrow{{ci.ID}}"></li>-->
          <td>      {{ci.ID}}
        </td>
                <td><div id="pimage"><a href="/buyit"><img height=100 src="{{ci.image}}"></a></div></td>
                <td><center><b><u>{{ci.pName}}</u></b></center></td>
                <td>${{ci.pPrice}}</td>
                <td>{{ci.pLocation}}</td>
                <td>{{ci.description}}</td> 
                <hr>
            {% endfor %}
            <tr>
            
        </table>
    
    {% else %}
        <p>YOU DONT HAVE ANYTHING FOR SALE</p>   
{% endif %}
    {% else %}
        <p>Please login to access My Account</p>
        <a href="/login">Login</a>
    {% endif %}


{% endblock %}{# empty Twig template #}
