{% extends "master.html.twig" %}

{% block content %}
         {% for ci in forSaleItems %}
           
            <div id="listing">
                {{ci.ID}}<br>
                <div id="pimage"><a href="/buyit/{{ci.productID}}"><img src="{{ci.image}}"></a></div><br>
                <center><b><u>{{ci.pName}}</u></b></center><br>
                Price:<b> ${{ci.pPrice}}</b><br>
                Item Location: {{ci.pLocation}}<br>
                Description: {{ci.description}}<br>
                <br>
                
                <button id="buyitbutton" onclick="location.href='/buyit/{{ci.productID}}'">Buy It</button> 
        </div>
        {% endfor %}
{% endblock %}
