{% extends "master.html.twig" %}

{% block content %}
    {% if sessionUser %}
        <a href="/sell">Post an Add</a>
    {% else %}
        <a href="/register">Register</a>
    {% endif %}
    
        <table border="1">
        {% for ci in forSaleItems %}
            <tr id="itemrow{{ci.ID}}">
                <td>{{ci.pName}}</td>
                <td>{{ci.pPrice}}</td>
                <td>{{ci.pLocation}}</td>
                <td>{{ci.description}}</td>
                <td><img height=100 src="/upload/{{ ci.image}}"></td>
            </tr>
            </table>
        {% endfor %}
   
    

{% endblock %}
