{% extends "master.html.twig" %}

{% block head %}<h1>All Ads</h1> {% endblock %} 

{% block content %}
<a href="/sell">Post an Add</a>
<a href="/register">Register</a>
{% if adList %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Price</th>
            <th>Name</th>
            <th>Operations</th>
        </tr>
            {% for ad in adList %}
            <tr>
                <td>{{ad.ID}}</td>
                <td>{{ad.pName}}</td>
                <td>{{ad.image}}</td>
                <td>{{ad.price}}</td> 
                <td><a href='/postad/{{ad.ID}}'>Edit Ad</a></td>
                
            </tr>
            {% endfor %}
    </table>
    {% else %}
        <p>There are no ads yet</p>   
{% endif %}

{% endblock %}{# empty Twig template #}
