{% extends "master.html.twig" %}

{% block content %}
    {% if sessionUser %}
        <a href="/sell">Sell</a>
        <br>
    {% else %}
        <a href="/register">Register</a>
        <a href="/login">Login</a><br>
    {% endif %}
    
        
        {% for ci in forSaleItems %}
           
            <div id="listing">
            
                <!--<li id="itemrow{{ci.ID}}"></li>-->
                {{ci.ID}}<br>
                <div id="pimage"><img height=100 src="/upload/{{ci.image}}"></div><br>
                <center><b>{{ci.pName}}</b></center><br>
                Price:<b> ${{ci.pPrice}}</b><br>
                Item Location: {{ci.pLocation}}<br>
                Description: {{ci.description}}<br>
        </div>
                    
        {% endfor %}
   
{% endblock %}
