{% extends "master.html.twig" %}

{% block title %}Register user{% endblock %}

{% block content %}
            
<h1>Register user</h1>
{% if sessionUser %}
        <p> YOU ARE ALREADY REGISTERED! <br>
            Would you like to <a href="/myaccount">go to your account</a> OR <a href="/logout">logout</a>
    
    
    {% else %}
        
{% if errorList %}
    <ul id="error">
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
   
<form id="register" method="post">
    Username: <br> <input type="text" name="uName" value="{{v.uName}}"><br>
    First Name: <br> <input type="text" name="fName" value="{{v.fName}}"><br>
    Last Name: <br> <input type="text" name="lName" value="{{v.lName}}"><br>
    Email: <br> <input type="text" name="email" value="{{v.email}}"><br>
    Password: <br> <input type="password" name="pass1"><br>
    Password (repeated): <br> <input type="password" name="pass2"><br>
    <input type="submit" value="Register">
</form>
    
{% endif %}
{% endblock %}
    